In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('hw1.csv', sep=';', index_col='id')
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [3]:
df.pivot_table(['height', 'weight'], ['gender'], aggfunc='mean')

            height     weight
gender
1       161.355612  72.565605
2       169.947895  77.257307

In [4]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [5]:
men = df[df['gender'] == 2]
women = df[df['gender'] == 1]

In [6]:
smoking_men_percentage = men[men['smoke'] == 1].shape[0] / men.shape[0] * 100
smoking_women_percentage = women[women['smoke'] == 1].shape[0] / women.shape[0] * 100

print('smoking_men_percentage = %s' % (smoking_men_percentage))
print('smoking_women_percentage = %s' % (smoking_women_percentage))

diff = np.around(smoking_men_percentage / smoking_women_percentage)
if diff > 1:
    print('Men smoke more by %s%%' % (diff))
else:
    print('Women smoke more by %s%%' % (diff))
    
alco_men_percentage = men[men['alco'] == 1].shape[0] / men.shape[0] * 100;
alco_women_percentage = women[women['alco'] == 1].shape[0] / women.shape[0] * 100;

if alco_men_percentage > alco_women_percentage:
    print('Men consume more alcohol: %s%%' % (np.around(alco_men_percentage)))
else:
    print('Women consume more alcohol: %s%%' % (np.around(alco_women_percentage, decimals=1)))

smoking_men_percentage = 21.88802615447487
smoking_women_percentage = 1.7856358444981333
Men smoke more by 12.0%
Men consume more alcohol: 11.0%

In [7]:
df['age_years'] = np.around(df['age'] / 365.0)
df['age'] = np.around(df['age'] / 30.0)
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years
id,,,,,,,,,,,,,
0,613.0,2,168,62.0,110,80,1,1,0,0,1,0,50.0
1,674.0,1,156,85.0,140,90,3,1,0,0,1,1,55.0
2,629.0,1,165,64.0,130,70,3,1,0,0,0,1,52.0
3,587.0,2,169,82.0,150,100,1,1,0,0,1,1,48.0
4,582.0,1,156,56.0,100,60,1,1,0,0,0,0,48.0

In [8]:
smoking_people = df[df['smoke'] == 1]
nonsmoking_people = df[df['smoke'] == 0]
smoking_age_median = smoking_people['age'].median()
nonsmoking_age_median = nonsmoking_people['age'].median()

nonsmoking_age_median - smoking_age_median

19.0

In [9]:
table_people = df.query('age_years >= 60 and age_years <= 64 and smoke == 1')
table_people.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years
id,,,,,,,,,,,,,
29,725.0,2,162,56.0,120,70,1,1,1,0,1,0,60.0
52,780.0,2,162,72.0,130,80,1,1,1,0,1,1,64.0
90,737.0,2,171,97.0,150,100,3,1,1,0,1,1,61.0
240,728.0,2,170,69.0,120,80,1,1,1,1,1,0,60.0
248,756.0,2,174,74.0,130,80,3,1,1,0,1,1,62.0

In [10]:
chol_map = {1 : 4, 2 : 6, 3 : 8}
table_people['cholesterol'] = table_people['cholesterol'].map(chol_map)
table_people

/Users/b.niatshin/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years
id,,,,,,,,,,,,,
29,725.0,2,162,56.0,120,70,4,1,1,0,1,0,60.0
52,780.0,2,162,72.0,130,80,4,1,1,0,1,1,64.0
90,737.0,2,171,97.0,150,100,8,1,1,0,1,1,61.0
240,728.0,2,170,69.0,120,80,4,1,1,1,1,0,60.0
248,756.0,2,174,74.0,130,80,8,1,1,0,1,1,62.0
318,779.0,2,175,75.0,180,100,8,1,1,1,1,1,64.0
410,747.0,2,173,70.0,130,70,6,1,1,1,1,0,61.0
456,753.0,2,170,65.5,150,80,4,1,1,0,1,1,62.0
581,775.0,2,162,70.0,130,70,4,1,1,1,1,1,64.0
606,753.0,2,182,91.0,120,80,4,1,1,0,1,0,62.0
662,733.0,2,175,92.0,120,80,8,1,1,1,1,1,60.0
696,731.0,2,160,85.0,130,90,6,1,1,0,0,1,60.0
986,754.0,2,171,108.0,161,73,4,1,1,0,1,1,62.0
1111,773.0,2,172,74.0,140,70,6,1,1,0,1,0,64.0
1194,782.0,2,164,74.0,120,80,4,1,1,1,0,1,64.0
1275,757.0,2,160,57.0,150,80,4,2,1,1,1,0,62.0
1312,747.0,2,164,68.0,120,80,4,1,1,0,1,1,61.0
1474,754.0,2,182,96.0,140,82,6,2,1,0,1,1,62.0
1625,758.0,2,167,78.0,90,70,6,1,1,0,1,1,62.0
1704,731.0,2,164,66.0,150,100,4,1,1,1,0,1,60.0
1712,775.0,2,173,108.0,150,90,8,3,1,0,1,1,64.0
1864,777.0,2,157,84.0,150,90,4,1,1,0,1,1,64.0
1893,778.0,2,176,95.0,150,90,4,1,1,0,1,1,64.0
1951,728.0,2,152,57.0,110,70,4,1,1,0,1,0,60.0
2289,755.0,2,169,101.0,140,80,8,1,1,0,1,1,62.0
2316,728.0,2,174,68.0,120,80,4,1,1,1,1,0,60.0
2415,777.0,2,163,62.0,110,70,4,1,1,0,1,0,64.0
2636,775.0,2,172,82.0,120,80,4,1,1,0,1,1,64.0
2842,757.0,2,170,69.0,120,80,8,1,1,0,1,1,62.0
2979,762.0,2,167,78.0,130,80,4,1,1,0,1,1,63.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
97200,751.0,2,178,92.0,130,90,4,1,1,1,1,1,62.0
97318,733.0,2,162,70.0,130,90,6,1,1,0,1,1,60.0
97361,728.0,1,164,68.0,120,80,4,1,1,0,1,1,60.0
97363,733.0,2,170,72.0,120,80,4,1,1,0,1,1,60.0
97388,730.0,2,160,75.0,140,90,6,1,1,0,1,1,60.0
97425,736.0,2,169,71.0,130,80,8,1,1,0,1,1,60.0
97588,770.0,1,152,42.0,120,80,4,1,1,0,0,0,63.0
97797,748.0,2,178,84.0,190,1000,4,1,1,0,1,1,61.0
97803,779.0,2,164,53.0,150,90,8,1,1,0,1,1,64.0
97930,727.0,2,168,89.0,140,80,4,1,1,0,1,0,60.0
98165,732.0,2,166,55.0,140,80,4,1,1,1,1,1,60.0
98177,784.0,2,168,82.0,140,80,4,1,1,1,0,0,64.0
98359,783.0,2,174,71.0,130,80,4,1,1,1,1,0,64.0
98408,783.0,2,168,95.0,120,80,8,1,1,1,1,1,64.0
98481,745.0,2,164,67.0,130,80,8,1,1,0,0,0,61.0
98500,730.0,2,156,68.0,120,80,4,1,1,0,0,0,60.0
98550,729.0,2,170,74.0,120,80,8,3,1,0,1,0,60.0
98621,775.0,2,166,86.0,120,80,8,1,1,1,1,1,64.0
98772,760.0,2,174,89.0,110,70,6,1,1,0,1,0,62.0
98777,759.0,2,171,70.0,150,90,4,1,1,1,0,1,62.0
98834,774.0,2,160,68.0,120,90,4,1,1,1,1,1,64.0
98837,775.0,2,169,85.0,140,80,8,1,1,0,1,0,64.0
98896,751.0,2,167,83.0,130,90,8,1,1,0,1,0,62.0
99301,781.0,2,158,78.0,120,70,4,1,1,0,1,0,64.0
99362,748.0,2,170,74.0,130,80,4,1,1,0,1,0,62.0
99551,774.0,2,151,45.0,120,70,8,1,1,1,0,1,64.0
99553,773.0,2,178,113.0,130,90,6,2,1,0,1,1,64.0
99711,759.0,2,167,76.0,120,80,4,1,1,0,1,0,62.0
99775,755.0,2,177,63.0,150,70,4,1,1,0,1,1,62.0
99958,752.0,2,173,103.0,140,80,8,1,1,1,0,1,62.0

In [11]:
table_people.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years
id,,,,,,,,,,,,,
29,725.0,2,162,56.0,120,70,4,1,1,0,1,0,60.0
52,780.0,2,162,72.0,130,80,4,1,1,0,1,1,64.0
90,737.0,2,171,97.0,150,100,8,1,1,0,1,1,61.0
240,728.0,2,170,69.0,120,80,4,1,1,1,1,0,60.0
248,756.0,2,174,74.0,130,80,8,1,1,0,1,1,62.0

In [13]:
first_sample = table_people.query('ap_hi <= 120 and cholesterol == 4')
second_sample = table_people.query('(ap_hi > 160 and ap_hi < 180) and cholesterol == 8')

329

In [16]:
first_share = first_sample.shape[0] / table_people.shape[0]
second_share = second_sample.shape[0] / table_people.shape[0]

np.around(first_share / second_share)

55.0

In [17]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years
id,,,,,,,,,,,,,
0,613.0,2,168,62.0,110,80,1,1,0,0,1,0,50.0
1,674.0,1,156,85.0,140,90,3,1,0,0,1,1,55.0
2,629.0,1,165,64.0,130,70,3,1,0,0,0,1,52.0
3,587.0,2,169,82.0,150,100,1,1,0,0,1,1,48.0
4,582.0,1,156,56.0,100,60,1,1,0,0,0,0,48.0

In [18]:
df['height_m'] = df['height'] / 100.0

In [20]:
df['bmi'] = df['weight'] / (df['height_m'] ** 2)

In [29]:
women = df.query('gender == 1')
men = df.query('gender == 2')
if women['bmi'].mean() - men['bmi'].mean() > 0:
    print('women bmi is greater')
else:
    print('men bmi is greater')

women bmi is greater

In [30]:
healthy = df.query('active == 1')
illy = df.query('active == 0')
if healthy['bmi'].mean() - illy['bmi'].mean():
    print('healthy bmi is greater')
else:
    print('illy bmi is greater')

healthy bmi is greater

In [31]:
healthy_man = healthy.query('gender == 2 and alco == 0')
healthy_women = healthy.query('gender == 1 and alco == 0')
if healthy_man['bmi'].mean() - healthy_women['bmi'].mean() > 0:
    print('healthy man bmi is greater')
else:
    print('healthy women bmi is greater')

healthy women bmi is greater

In [34]:
one = df.query('ap_lo >= ap_hi').shape[0]
one

1236